@import url('https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext');
@import './consts.scss';
@import './feed.scss';
@import './spinner.scss';
@import './error.scss';
@import './auth.scss';

body,
html {
  font-family: 'Lato', sans-serif;

  a {
    color: $lightblueColor !important;
  }

  .btn-primary {
    height: $formItemHeight;
    margin-bottom: 8px;
    background-color: $lightblueColor;
    border: $fieldBorder;
    border-radius: $fieldBorderRadius;

    &:disabled {
      background-color: $lightblueColor;
      border: $fieldBorder;
      border-radius: $fieldBorderRadius;
    }

    &:hover {
      background-color: #4f807f;
      border: $fieldBorder;
      border-radius: $fieldBorderRadius;
    }
  }
}
