$lightblueColor: #78C8C7;
$formItemHeight: 36px;
$fieldBorder: 1px solid #d4cece;
$fieldBorderRadius: 5px;

@import url('https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext');

body,
html {
  font-family: 'Lato', sans-serif;

  a {
    color: $lightblueColor !important;
  }

  .btn-primary {
    height: $formItemHeight;
    margin-bottom: 8px;
    background-color: $lightblueColor;
    border: $fieldBorder;
    border-radius: $fieldBorderRadius;

    &:disabled {
      background-color: $lightblueColor;
      border: $fieldBorder;
      border-radius: $fieldBorderRadius;
    }

    &:hover {
      background-color: #4f807f;
      border: $fieldBorder;
      border-radius: $fieldBorderRadius;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__dot {
    text-align: center;
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  &__header {
    margin-bottom: 24px;
    text-align: center;
  }

  &__title {
    font-size: 60px;
  }

  &__form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 264px;

    input {
      margin-bottom: 24px;
      border: $fieldBorder;
      border-radius: $fieldBorderRadius;
      height: $formItemHeight;
      padding: 0 12px;
    }

    &__error {
      margin-top: -24px;
      color: red;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline !important;
  }
}

.feed {
  margin: 30px;

  &__logout {
    text-align:right;
    width:100%;
  }

  &__item {
    margin-bottom: 40px;

    h4 {
      font-size: 16px;
    }
  }
}